<div class="container">
  <section class="showmap">
    <h4 class="name">
      map
    </h4>
    <div class="map" id="map"></div>
  </section>

  <section class="showmap">
    <h4 class="name">map with marker</h4>
    <div class="map" id="map1"></div>
  </section>

  <section class="showmap">
    <h4 class="name">map with multiple marker</h4>
    <div class="map" id="map2"></div>
  </section>

  <section class="showmap">
    <h4 class="name">drow map</h4>
    <div class="map" id="map3"></div>
  </section>

  <section class="showmap">
    <h4 class="name">polygon map</h4>
    <div class="map" id="map4"></div>
  </section>

  <section class="showmap">
    <h4 class="name">Rectangel map</h4>
    <div class="map" id="map5"></div>
  </section>

  <section class="showmap">
    <h4 class="name">Circle map</h4>
    <div class="map" id="map6"></div>
  </section>

  <section class="showmap">
    <h4 class="name">Info window with Mark</h4>
    <div class="map" id="map7"></div>
  </section>

  <section class="showmap">
    <h4 class="name">Info window with multiple Mark</h4>
    <div class="map" id="map8"></div>
  </section>
</div>

